.flex {
    display: flex;
    justify-content: space-between;
}

.navBar {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.956);
    z-index: 1000;
    padding: 25px;
}

.navLink {    
    margin: 30px;
    
}

.flexColumn {
    display: flex;
    flex-direction: column;
}


.userNameInput {
    min-height: 30px;
    border-radius: 7px;
    font-size: 1em;
    min-width: 150px;
}

