.material-symbols-outlined{
    color: black;
    padding: 0 10px 0 10px;
}

.userNameHeader {
    padding: 0 30px 0 30px;
}

.white {
    background-color: white;
}

.qtyTxt {
    position: relative;
    top: -10px;
   
    background-color: green;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
}


.removeBtn {
   background-color: white;   
   border-radius: 50%;
   align-content: center;
   align-items: center;
   text-align: center;
    
}

.cartImage {
    max-height: 50px;
}

.userContainer {
    position: relative;
}

.cartDiv {
    position: absolute;
    max-height: 70vh;
    top: 70px; /* Adjust based on your layout */
    right: 20px;
    padding: 30px;
    background-color: white;
    /* border: solid 3px black; */
    border-radius: 7px;
    animation: expand 500ms ease-in-out;
    transform-origin: top;
    z-index: 10; 
   
    overflow-x: hidden;
    
}

@keyframes expand {
    0% {
        transform: scaleY(0);
    }
    
    70% {
        transform: scaleY(1.1);
    }
    
    100% {
        transform: scaleY(1);
    }
}

.cartItemDiv {
    display: flex;
    border-bottom: solid 1px black;
    padding: 20px;
    position: absolute;
    top: 50px; 
    left: 55%;
    transform: translate(-50%, -50%); 
    justify-content: space-around;
}

.cartInfo {
    display: flex;
    font-size: .8em;
}

.totalTxt {
    position: absolute;
    padding: 10px;
    top: -30px;
    border-bottom: solid 3px black;
}
.cartBtn:hover{
    border: none;
    color: white;
    background-color: black;
}
.cartBtn:focus {
    color: white;
    background-color: black;
   outline: none;
}

