.material-symbols-outlined{
    color: black;
    padding: 0 10px 0 10px;
}

.userNameHeader {
    padding: 0 30px 0 30px;
}

.white {
    background-color: white;
}

.qtyTxt {
    position: relative;
    top: -10px;
    right: 10px;
    background-color: green;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
}